/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  z-index: 1000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
  color: white;
  background: linear-gradient(to right, #1e40af, #059669); 
}

/* Logo */
.logo .highlight {
  color: #10b981;
  font-weight: bold;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu.open {
  display: flex;
}

/* Center Text */
.center-text {
  font-size: 1rem;
  font-weight: 500;
}

/* Call Button */
.call-button {
  background-color: #10b981;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.call-button:hover {
  background-color: #2563eb;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .line {
  width: 24px;
  height: 3px;
  background: black;
  margin: 4px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #2563eb;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .hamburger {
    display: flex;
  }

  .center-text{
    color: white;
  }
}
